.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formBox {
  padding: 2rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}
