@import "/src/styles/global.scss";

.dashboard {
  padding: 1rem;

  .title {
    margin-bottom: 1rem;
  }

  .card {
    background-color: $sidebar-bg;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
