@import "/src/styles/global.scss";

.container {
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.card {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
}
