@import "/src/styles/global.scss";

.container {
  padding: 3rem 2rem;
  max-width: 1440px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.chart-container {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 300px;
}
