.container {
  padding: 2rem;
  max-width: 1440px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.tableContainer {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
